.admin-container{

    margin-left:270px;

    padding:30px;

    background:#f4f7fa;

    min-height:100vh;

}

.security-card{

    border:none;

    border-radius:20px;

    padding:30px;

    color:white;

    text-align:center;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);

    margin-bottom:20px;

}

.security-card h2{

    font-size:40px;

    font-weight:bold;

}

.blue-card{

    background:#2563eb;

}

.yellow-card{

    background:#ca8a04;

}

.green-card{

    background:#0f766e;

}

.red-card{

    background:#dc2626;

}

.card{

    border:none;

    border-radius:20px;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

.table{

    border-radius:10px;

    overflow:hidden;

}