.dashboard-content{

    margin-left:270px;

    padding:30px;

    background:#f4f7fa;

    min-height:100vh;

}

.dashboard-card{

    border:none;

    border-radius:20px;

    padding:30px;

    color:white;

    text-align:center;

    box-shadow:0 4px 10px rgba(0,0,0,0.1);

    transition:0.3s;

    margin-top:20px;

}

.dashboard-card:hover{

    transform:translateY(-5px);

}

.dashboard-card h2{

    font-size:40px;

    font-weight:bold;

}

.dashboard-card p{

    font-size:18px;

    margin-top:10px;

}

.products-card{

    background:#2563eb;

}

.orders-card{

    background:#0f766e;

}

.warehouse-card{

    background:#ca8a04;

}

.security-card{

    background:#dc2626;

}