<app-sidebar></app-sidebar>

<div class="warehouse-container">

  <!-- PAGE HEADER -->

  <div class="d-flex justify-content-between mb-4">

    <div>

      <h1>Warehouse Management</h1>

      <p class="text-muted">

        Secure Storage & Capacity Monitoring

      </p>

    </div>

    <div>

      <span class="badge bg-dark p-2">

        {{ role }}

      </span>

    </div>

  </div>

  <!-- ANALYTICS CARDS -->

  <div class="row mb-4">

    <!-- TOTAL WAREHOUSES -->

    <div class="col-md-4">

      <div class="card warehouse-card blue-card">

        <h2>12</h2>

        <p>Total Warehouses</p>

      </div>

    </div>

    <!-- STORAGE USED -->

    <div class="col-md-4">

      <div class="card warehouse-card green-card">

        <h2>80%</h2>

        <p>Storage Used</p>

      </div>

    </div>

    <!-- SECURITY -->

    <div class="col-md-4">

      <div class="card warehouse-card red-card">

        <h2>Secure</h2>

        <p>Security Status</p>

      </div>

    </div>

  </div>

  <!-- ADD WAREHOUSE -->

  <div class="card p-4 mb-4">

    <h3>Add Warehouse</h3>

    <div class="row">

      <div class="col-md-4">

        <input

          class="form-control"

          placeholder="Warehouse Name"

          [(ngModel)]="name">

      </div>

      <div class="col-md-4">

        <input

          type="number"

          class="form-control"

          placeholder="Capacity"

          [(ngModel)]="capacity">

      </div>

      <div class="col-md-4">

        <button

          class="btn btn-success w-100"

          (click)="addWarehouse()">

          Add Warehouse

        </button>

      </div>

    </div>

  </div>

  <!-- WAREHOUSE TABLE -->

  <div class="card p-4">

    <h3 class="mb-4">

      Warehouse Storage Details

    </h3>

    <table class="table table-hover table-bordered">

      <thead class="table-dark">

      <tr>

        <th>ID</th>

        <th>Warehouse</th>

        <th>Capacity</th>

        <th>Status</th>

      </tr>

      </thead>

      <tbody>

      <tr *ngFor="let warehouse of warehouses">

        <td>{{warehouse.id}}</td>

        <td>{{warehouse.name}}</td>

        <td>{{warehouse.capacity}}</td>

        <td>

          <span

            *ngIf="warehouse.capacity > 500"

            class="badge bg-success">

            Available

          </span>

          <span

            *ngIf="warehouse.capacity <= 500"

            class="badge bg-danger">

            Nearly Full

          </span>

        </td>

      </tr>

      </tbody>

    </table>

  </div>

</div>